<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer">
  <div class="mdl-layout__header">
    <base-page-top>
      <div class="mdl-layout-spacer"></div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable search">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>

        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search"/>
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>

      <app-notification-menu></app-notification-menu>

  

      <div class="avatar-dropdown" id="icon">
        <span>UNDP</span>
      </div>
    

      <button id="more" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp settings-dropdown"
          for="more">
       
        <a class="mdl-menu__item"  routerLink="/app/component">
          Edit Profile
        </a>
        <li class="mdl-menu__item">
          F.A.Q.
        </li>
        <li class="mdl-menu__item mdl-list__item">
          <span class="mdl-list__item-primary-content" (click)="logout()">
            <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
            Log out
          </span>
      </li>
      </ul>
    </base-page-top>
  </div>
  <div class="mdl-layout__drawer">
    <app-sidebar></app-sidebar>
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>
